<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362527480130-ropd0546a4729p8a1rrsfaf71a1kretp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362527480130-ropd0546a4729p8a1rrsfaf71a1kretp</string>
	<key>API_KEY</key>
	<string>AIzaSyCnvvkQeSa2_GyO0n3Na8Zd7cR-tedMQ24</string>
	<key>GCM_SENDER_ID</key>
	<string>362527480130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.backofficeapollo</string>
	<key>PROJECT_ID</key>
	<string>backoffice-apollo-9d2ba</string>
	<key>STORAGE_BUCKET</key>
	<string>backoffice-apollo-9d2ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362527480130:ios:59f3e4bd3391df3544d0db</string>
</dict>
</plist>